{{template "header"}}

<div class="main">
	<div class="content">
		<div class="container">
			<h5 class="text-2">Instantly share files.</h5>
		</div>
	</div>
	<div class="blue">
		<div class="container">
			<form enctype="multipart/form-data" action="http://127.0.0.1:3000/" method="post">
	      	Choose a file: <input id="pick" type="file" name="uploadfile" />
	      	<input type="hidden" name="token" value="{{.}}"/>
	      	<input id="upload" type="submit" value="Upload" />
			</form>
			{{if .Success}}
				<a href="{{.Info}}">{{.Info}}</a>
			{{else}}
			  <span id="error">{{.Info}}</span> <!-- used to print errors -->
			{{end}}
		</div>
	</div>
	</div>
</div>

{{template "footer"}}
