<!DOCTYPE html>
<html>
	<head>
		<title>tft</title>
		<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700"/>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	</head>
	<body class="cf">
		<div id="container">
			<div class="header">
				T<span id="f">F</span>T
				<div class="sub">Temporary File Transfer</div>
			</div>
			<div class="content">
				<h1>Instantly share files.</h1>
				<div>
					<p>Hello <b>{{.}}</b></p>
					<p>Upload a file: 
						<form enctype="multipart/form-data" action="http://127.0.0.1:3000/upload" method="post">
      						<input type="file" name="uploadfile" />
      						<input type="hidden" name="token" value="{{.}}"/>
      						<input type="submit" value="upload" />
						</form>
					</p>
				</div>
				<!--div>
					<input id="post-shortlink"
					value="https://somerandom.url/qmE_jpnYQS">
				</div-->	
			</div>
		</div>
	</body>
</html>
